{% extends "dashboard_layout.html" %}

{% load static %}

{% block dashboard_info %}
<h4 class="text-xl font-semibold leading-normal mb-2 text-blue-700 mb-2">
    Restaurant: {{ restaurant.name }}
</h4>
{% endblock %}
{% block dashboard_links %}
<button onclick="location.href=`{% url 'restaurants:dishes' %}`">Dishes</button>
<button onclick="location.href=`{% url 'restaurants:add-dish' %}`">Add Dish</button>
<button onclick="location.href=`{% url 'wars:participate' %}`">Participate</button>
<button onclick="location.href=`{% url 'wars:leaderboard' %}`">Leaderboard</button>
{% endblock %}