{% extends "base.html" %}

{% block title %}Dishes{% endblock %}

{% block content %}
<div class="flex flex-col">
    {% for dish in dishes %}
    <div class="h-screen flex flex-col justify-center items-center">
        Dish Name - {{ dish.name }}
        <br />
        Dish Description - {{ dish.description }}
        <br />
        Dish Restaurant - {{ dish.restaurant.name }}
        <br />
        {% comment %}
        <a href="{% url 'restaurants:dish_update' dish.id %}">Update</a>
        <a href="{% url 'restaurants:dish_delete' dish.id %}">Delete</a>
        {% endcomment %}
    </div>
    {% endfor %}
</div>
{% endblock %}