{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}
<div class="text-bold sm:w-9/12 flex flex-col items-center p-5 mt-10 bg-gray200 shadow-xl">
    <h1 class="text-3xl">{{ menu.title }} by {{ menu.restaurant.name }}</h1>
    <p class="text-sm text-gray-600">{{ menu.description }}</p>
    <div class="flex flex-wrap justify-center items-start sm:mx-20 mt-10">
        {% for dish in dishes %}
        <div class="w-full bg-white rounded-lg">
            <div class=" p-4">
                <h2 class="text-2xl text-wrap font-semibold text-blue-500 hover:underline cursor-pointer">
                    {{ dish.name }}
                </h2>
                <p class="text-sm text-gray-600">{{ dish.description }}</p>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_employee %}
    {% if voted %}
    <button onclick="location.href=`{% url 'wars:unvote' menu.pk %}`">Unvote</button>
    {% else %}
    <button onclick="location.href=`{% url 'wars:vote' menu.pk %}`">Vote</button>
    {% endif %}
    {% endif %}
</div>
{% endblock %}