{% extends "list_layout.html" %}

{% block title %}Participants{% endblock %}

{% block list_title %}Participants{% endblock %}

{% block list_content %}
{% for menu in menus %}
<div class="w-full bg-white rounded-lg">
    <div class=" p-4">
        <h2 class="text-lg font-semibold text-gray-900" onclick="location.href=`{% url 'wars:menu-detail' menu.pk %}`">
            {{menu.title }} by {{ menu.restaurant.name }}
        </h2>
        <p class="text-sm text-gray-600">{{ menu.description }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}